/* Floating Tech Stack Animation */
.floating-tech {
  animation: float-tech 4s ease-in-out infinite;
  will-change: transform;
}

.floating-tech:nth-child(1) {
  animation-duration: 3.5s;
  animation-delay: 0s;
}

.floating-tech:nth-child(2) {
  animation-duration: 4s;
  animation-delay: 0.3s;
}

.floating-tech:nth-child(3) {
  animation-duration: 3.2s;
  animation-delay: 0.6s;
}

.floating-tech:nth-child(4) {
  animation-duration: 4.2s;
  animation-delay: 0.9s;
}

.floating-tech:nth-child(5) {
  animation-duration: 3.8s;
  animation-delay: 1.2s;
}

.floating-tech:nth-child(6) {
  animation-duration: 4.1s;
  animation-delay: 1.5s;
}

.floating-tech:nth-child(7) {
  animation-duration: 3.6s;
  animation-delay: 1.8s;
}

.floating-tech:nth-child(8) {
  animation-duration: 4.3s;
  animation-delay: 2.1s;
}

.floating-tech:nth-child(9) {
  animation-duration: 3.9s;
  animation-delay: 2.4s;
}

.floating-tech:nth-child(10) {
  animation-duration: 4s;
  animation-delay: 2.7s;
}

